/* stylelint-disable no-descending-specificity */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: black;
  background-image: linear-gradient(rgba(70, 5, 155, 0.7), rgba(99, 44, 170, 0.7)), url('../asset/snip2.jpeg');
  background-size: 200%;
  background-position: center top;
}

.header {
  padding: 8px;
  display: flex;
  justify-content: center;
  margin: 0;
}

li,
a {
  list-style: none;
  text-decoration: none;
  color: orange;
}

.header--title {
  color: orange;
  font-size: 13px;
}

.nav--item {
  display: none;
}

.main {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
}

.article {
  display: flex;
  width: 470px;
  border-bottom: 1px solid rgb(168, 168, 167);
}

.king--section {
  background-color: rgba(24, 7, 39, 0.719);
  border-radius: 0 0 20px 20px;
  margin: 0;
  width: 200px;
  padding: 0 8px;
  height: 300px;
}

.title--king {
  display: flex;
  color: red;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.title--king h2,
.title--king i {
  cursor: pointer;
  color: orange;
  font-size: 14px;
  padding: 10px 0;
}

.seasons {
  display: flex;
  border: 1px solid rgb(83, 82, 82);
  background-color: rgb(71, 5, 116);
  color: rgb(167, 130, 105);
  border-radius: 70px;
  cursor: pointer;
  padding: 3px;
  margin: 16px 0 0 0;
  justify-content: center;
}

.seasons p {
  display: none;
}

.seasons h2 {
  padding: 0;
  font-size: 17px;
  color: rgb(199, 52, 52);
}

.winners {
  display: flex;
  gap: 10px;
  border: 1px solid rgb(50, 50, 50);
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 14px;
  align-items: center;
}

.d-flex {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#scorediv,
#scorediv2,
#scorediv3 {
  gap: 10px;
  margin-left: -40px;
}

#sec-w,
#th-w {
  color: orange;
  font-size: 16px;
  font-weight: bolder;
  font-family: cursive;
  padding: 14px;
  border: 2px solid rgb(99, 89, 80);
  border-radius: 50px;
  transform: translateX(1.5rem);
}

#sec--score,
#th--score {
  width: 90px;
  height: 20px;
  color: rgb(192, 209, 192);
  font-weight: bolder;
  font-size: 13px;
  transform: translateX(1.4rem);
}

#fs-w {
  width: 50px;
  border-radius: 8px;
  padding: 0;
  transform: translateX(1.5rem);
}

#fs-w img {
  width: 100%;
}

#k--score {
  color: rgb(221, 155, 68);
  font-weight: bolder;
  font-size: 13px;
  transform: translateX(1.2rem);
}

.player--section {
  border: 1px solid rgb(124, 124, 124);
  width: 267px;
  overflow-x: auto;
  max-height: 300px;
}

.player--div {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 2px;
  box-shadow:
    0 35px 60px 0 rgba(0, 0, 0, 0.25),
    inset -4px 0 12px 0 rgba(8, 8, 8, 0.25),
    inset 6px 0 12px 0 rgba(0, 0, 0, 0.25),
    inset 0 -10px 14px 0 rgba(3, 3, 3, 0.4);
  background-image: linear-gradient(rgba(70, 5, 155, 0.7), rgba(99, 44, 170, 0.7));
  border: 1px solid rgb(240, 240, 240);
  border-radius: 10px;
}

.player--div:nth-child(odd) {
  background-color: rgb(131, 131, 131);
}

#player--score {
  color: orange;
  font-size: 18px;
  font-weight: bold;
}

#player--name {
  color: #fff;
}

#player--index {
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 40px;
}

#player--index img {
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: auto;
  padding: 2px;
  border: 2px solid orange;
  border-radius: 90%;
  margin: 0;
}

.aside {
  width: 470px;
  display: table-cell;
}

.aside h3 {
  color: orange;
  margin: 0 auto;
  width: 60%;
  padding: 0;
  font-size: 15px;
  line-height: 28px;
}

#play--now {
  width: 30%;
  color: rgb(197, 175, 133);
  background-color: rgb(85, 2, 117);
  padding: 5px;
  margin: 7px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid rgb(104, 102, 102);
  box-shadow:
    -2px -2px 10px 0 rgba(192, 191, 191, 0.6),
    -2px -2px 5px 0 rgba(110, 110, 110, 0.6),
    7px 7px 10px 0 rgba(83, 82, 82, 0.133),
    4px 4px 5px 0 #0001;
}

#play--now:hover {
  color: #a85a11;
}

form {
  display: none;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

form p {
  color: rgb(218, 181, 181);
  font-size: 18px;
  font-weight: bold;
}

form input {
  width: 60%;
  padding: 4px;
  border-radius: 8px;
  margin: 0 auto;
}

form input:placeholder-shown {
  color: black;
  font-size: 14px;
}

form button {
  width: 40%;
  margin: 0 auto;
  color: orange;
  font-size: 15px;
  background-color: rgb(85, 2, 117);
  padding: 5px;
  cursor: pointer;
  box-shadow:
    -2px -2px 10px 0 rgba(192, 191, 191, 0.6),
    -2px -2px 5px 0 rgba(110, 110, 110, 0.6),
    7px 7px 10px 0 rgba(83, 82, 82, 0.133),
    4px 4px 5px 0 #0001;
}

form button:hover {
  color: #a85a11;
}

#error {
  color: rgb(240, 55, 55);
  font-size: 14px;
}

#star {
  font-size: 14px;
  padding: 5px;
}

.modal {
  display: flex;
  border: 2px solid white;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  text-align: center;
  color: #0001;
  justify-content: center;
  border-radius: 20px;
  width: 400px;
  height: 300px;
  margin: 0;
  padding: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  z-index: 40;
  box-shadow:
    -2px -2px 10px 0 rgba(243, 243, 242, 0.6),
    -2px -2px 5px 0 rgba(112, 111, 114, 0.6),
    7px 7px 10px 0 rgba(77, 161, 77, 0.133),
    4px 4px 5px 0 rgba(179, 69, 69, 0.801);
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(31, 30, 30, 0.904);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: none;
}

#close {
  padding: 0;
  position: absolute;
  top: 5px;
  right: -80px;
  cursor: pointer;
  color: rgb(117, 116, 116);
}

.pop--img {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  margin-top: -10px;
  width: 35%;
  height: 35%;
  border: 2px solid rgb(182, 116, 55);
  border-radius: 50%;
}

.pop--img img {
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 0;
  border: 2px solid orange;
  border-radius: 50%;
  margin: 0;
}

#hello {
  color: rgb(88, 85, 85);
  font-size: 20px;
  font-weight: bold;
  padding: 8px;
}

#para {
  color: rgb(71, 71, 71);
  font-size: 16px;
  line-height: 25px;
  font-weight: 300;
}

#links {
  justify-content: center;
  text-align: center;
  display: flex;
  gap: 5px;
  padding: 9px;
}

#links a {
  padding: 3px;
  font-size: 16px;
  width: 20%;
  font-weight: bold;
  border: 1px solid rgb(212, 201, 179);
  background-color: rgb(233, 235, 231);
  border-radius: 8px;
  cursor: pointer;
}

#thanks {
  color: rgb(114, 111, 111);
  margin-top: 0;
  font-size: 18px;
  font-weight: bold;
}

footer {
  bottom: 0;
  right: 0;
  left: 0;
  color: rgb(167, 164, 164);
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  justify-content: center;
  text-align: center;
}

@media only screen and (min-width: 992px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-size: 100%;
    margin: 0 20px;
    background-position: center top;
    background-repeat: no-repeat;
  }

  .seasons h2 {
    display: none;
  }

  .header {
    position: fixed;
    top: -18px;
    left: 0;
    right: 0;
    padding: 0;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    margin: 0;
    align-items: center;
  }

  .header--title {
    font-size: 14px;
  }

  .nav--item {
    display: flex;
    text-align: center;
    justify-content: space-around;
  }

  .nav--li {
    padding: 24px;
    font-size: 16px;
    color: orange;
  }

  .main {
    display: table;
    width: 900px;
    margin: 60px auto;
  }

  .article {
    display: table-cell;
    width: 500px;
    border-bottom: 0;
    border: 2px solid rgb(157, 156, 154);
    padding: 0;
    margin: 20px;
  }

  .king--section {
    margin: 0;
    padding: 0 24px;
    border: none;
    width: 500px;
    height: 320px;
  }

  .title--king h2,
  .title--king i {
    font-size: 20px;
    padding: 20px 0;
  }

  .seasons {
    padding: 14px;
    margin: 20px 0;
    margin-bottom: 0;
    font-weight: bold;
    justify-content: space-between;
  }

  .seasons p {
    display: flex;
  }

  .seasons p:first-child {
    color: rgb(199, 52, 52);
  }

  .winners {
    gap: 0;
    border: none;
    flex-direction: row;
  }

  .d-flex {
    flex-direction: column;
  }

  #scorediv,
  #scorediv2,
  #scorediv3 {
    gap: 0;
    margin: 0;
  }

  #sec-w,
  #th-w {
    font-size: 28px;
    transform: translateX(0);
    transform: translateY(2.8rem);
  }

  #sec--score,
  #th--score {
    width: 100px;
    font-size: 16px;
    transform: translateX(0);
    transform: translateY(3rem);
  }

  #fs-w {
    padding-top: 5px;
    width: 60px;
    transform: translateX(0);
  }

  #k--score {
    font-weight: bolder;
    font-size: 20px;
    transform: translateX(0);
  }

  .player--section {
    border: none;
    width: 500px;
    max-height: 270px;
  }

  .player--div {
    padding: 20px;
    gap: 100px;
  }

  #player--score {
    font-size: 20px;
  }

  #player--index {
    width: 60px;
  }

  .aside {
    width: 350px;
  }

  .aside h3 {
    width: 68%;
    padding: 24px;
    font-size: 20px;
  }

  #play--now {
    font-size: 20px;
  }

  form p {
    font-size: 20px;
  }

  form input {
    width: 80%;
    padding: 8px;
    margin: 0;
    transform: translateX(2rem);
  }

  form input:placeholder-shown {
    font-size: 20px;
  }

  form button {
    margin: 0;
    font-size: 20px;
    padding: 5px;
    transform: translateX(9.4rem);
  }

  #star {
    font-size: 16px;
    font-weight: bold;
    padding: 8px;
  }

  .modal {
    width: 500px;
  }

  #close {
    transform: translateX(2rem);
  }

  footer {
    position: fixed;
    color: #fff;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    justify-content: center;
    text-align: center;
  }
}
