* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0 20px;
  background-image: linear-gradient(rgba(70, 5, 155, 0.7), rgba(99, 44, 170, 0.7)), url('../asset/snip2.jpeg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}

.header {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  margin: 0;
  padding: 10px;
  align-items: center;
}

li,
a {
  list-style: none;
  text-decoration: none;
  color: orange;
}

.header--title {
  color: orange;
  font-size: 20px;
}

.nav--item {
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.nav--li {
  padding: 24px;
  font-size: 20px;
  color: orange;
}

.main {
  display: table;
  width: 700px;
  margin: 40px auto;
}

.article {
  display: table-cell;
  border: 2px solid blanchedalmond;
  margin: 20px;
}

.king--section {
  background-color: rgba(24, 7, 39, 0.719);
  border-radius: 0 0 20px 20px;
  margin: 0;
  padding: 0 24px;
  height: 300px;
}

.title--king {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.title--king h2,
.title--king i {
  color: orange;
  font-size: 20px;
  padding: 20px 0;
}

.seasons {
  display: flex;
  border: 1px solid rgb(83, 82, 82);
  background-color: rgb(71, 5, 116);
  color: rgb(167, 130, 105);
  border-radius: 70px;
  cursor: pointer;
  padding: 14px;
  margin: 30px 0;
  font-weight: bold;
  justify-content: space-between;
}

.seasons p:first-child {
  color: rgb(199, 52, 52);
}

.winners {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}

.d-flex {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#sec-w,
#th-w {
  color: orange;
  font-size: 20px;
  padding: 14px;
  transform: translateY(3.1rem);
}

#fs-w {
  color: green;
  font-size: 20px;
  font-weight: bold;
}

.player--div {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 100px;
  background-image: linear-gradient(rgba(70, 5, 155, 0.7), rgba(99, 44, 170, 0.7));
  border: 1px solid rgb(240, 240, 240);
  border-radius: 10px;
}

.player--div:nth-child(odd) {
  background-color: rgb(131, 131, 131);
}

#player--score {
  color: orange;
  font-size: 20px;
  font-weight: bold;
}

#player--name {
  color: #fff;
}

#player--index {
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.aside {
  display: table-cell;
}

.aside h3 {
  color: orange;
  padding: 24px;
  line-height: 28px;
}

#play--now {
  width: 30%;
  color: rgb(197, 175, 133);
  background-color: rgb(85, 2, 117);
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid rgb(104, 102, 102);
}

form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

/* stylelint-disable-next-line no-descending-specificity */
form p {
  color: rgb(218, 181, 181);
  font-size: 20px;
  font-weight: bold;
}

form input {
  width: 80%;
  padding: 8px;
  transform: translateX(2rem);
}

form input:placeholder-shown {
  color: black;
  font-size: 20px;
  font-weight: bold;
}

form button {
  width: 40%;
  color: orange;
  font-size: 20px;
  background-color: rgb(85, 2, 117);
  padding: 5px;
  transform: translateX(9.5rem);
  cursor: pointer;
}

footer {
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  color: #fff;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  text-align: center;
}
